// Color Scheme
$primary-color: #2E8B57; //Dark Green

// Accent Colors
$accent-color: #32CD32; // Lime Green
$accent-color-1: rgb(80, 200, 120); //Emerald
$accent-color-light: hsl(140, 52%, 96%); //Light Emerald

// Neutral Colors
$white: #FAFAFA;
$black: #202020;


// Customising bootstrap color variables
$primary: $primary-color;
$secondary: $accent-color-1;
$white: $white;
$dark: $black;

@import "../node_modules/bootstrap/scss/bootstrap";

// Global CSS start

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    // background-color: $accent-color-light;
}

// Global settings end

// Header CSS start

.header {


    &-left {
        // height: inherit;
        background-color: var($white );
        color: var($black);
    }

    &-image {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }

}

// Header CSS end

// Gallery CSS start

.gallery {
    height: auto;


}

// Gallery CSS end

// JS controlled CSS starts

.active {
    background-color: $accent-color-1;
    padding: 1rem 2rem;
}

// JS controlled CSS ends

// Media queries starts

@media (max-width: 576px) {
    .header {
        &-image {
            height: 60vh;
        }
    }

}